*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lognBg{
    height: 100vh;
    background-image: url(../images/loginBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.redBg{
    background-color: red!important; 
}



.darkMode {
    background-color: white !important;
    color: black !important;
}